## Deliverable 2. Create a Customer Travel Destinations Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,46.11,79,0,1.01,clear sky
1,1,Lavrentiya,RU,65.5833,-171.0000,43.45,81,100,2.33,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,73.76,73,1,19.73,light rain
3,3,Vermilion,US,40.1667,-87.7506,79.39,88,40,4.61,scattered clouds
4,4,Lasa,IT,46.6166,10.7002,65.28,85,0,3.36,clear sky

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vermilion,US,40.1667,-87.7506,79.39,88,40,4.61,scattered clouds
5,5,Kolaras,IN,25.2333,77.6000,76.23,90,100,4.03,overcast clouds
8,8,Adrar,MR,20.5022,-10.0711,86.65,16,7,8.99,clear sky
10,10,Butaritari,KI,3.0707,172.7902,83.08,77,100,15.79,light rain
11,11,Yantai,CN,37.5333,121.4000,82.80,65,100,2.44,overcast clouds
12,12,Georgetown,MY,5.4112,100.3354,85.89,74,20,1.99,few clouds
13,13,Cayenne,GF,4.9333,-52.3333,79.09,86,20,2.30,few clouds
25,25,Dandong,CN,40.1292,124.3947,86.02,64,100,2.37,overcast clouds
26,26,Batticaloa,LK,7.7102,81.6924,83.53,59,60,14.43,broken clouds
38,38,Atuona,PF,-9.8000,-139.0333,77.40,74,94,10.89,overcast clouds

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                267
City                   267
Country                267
Lat                    267
Lng                    267
Max Temp               267
Humidity               267
Cloudiness             267
Wind Speed             267
Current Description    267
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vermilion,US,40.1667,-87.7506,79.39,88,40,4.61,scattered clouds
5,5,Kolaras,IN,25.2333,77.6000,76.23,90,100,4.03,overcast clouds
8,8,Adrar,MR,20.5022,-10.0711,86.65,16,7,8.99,clear sky
10,10,Butaritari,KI,3.0707,172.7902,83.08,77,100,15.79,light rain
11,11,Yantai,CN,37.5333,121.4000,82.80,65,100,2.44,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
674,674,Awjilah,LY,29.1081,21.2869,77.23,65,0,14.16,clear sky
677,677,Kudahuvadhoo,MV,2.6708,72.8944,83.08,71,84,10.76,broken clouds
678,678,Gashua,NG,12.8710,11.0482,81.00,64,100,11.12,overcast clouds
685,685,Sirjan,IR,29.4520,55.6814,76.87,20,0,1.90,clear sky
686,686,Fangshan,CN,39.6983,115.9925,82.26,61,95,3.78,overcast clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vermilion,US,79.39,scattered clouds,40.1667,-87.7506,
5,Kolaras,IN,76.23,overcast clouds,25.2333,77.6000,
8,Adrar,MR,86.65,clear sky,20.5022,-10.0711,
10,Butaritari,KI,83.08,light rain,3.0707,172.7902,
11,Yantai,CN,82.80,overcast clouds,37.5333,121.4000,
12,Georgetown,MY,85.89,few clouds,5.4112,100.3354,
13,Cayenne,GF,79.09,few clouds,4.9333,-52.3333,
25,Dandong,CN,86.02,overcast clouds,40.1292,124.3947,
26,Batticaloa,LK,83.53,broken clouds,7.7102,81.6924,
38,Atuona,PF,77.40,overcast clouds,-9.8000,-139.0333,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vermilion,US,79.39,scattered clouds,40.1667,-87.7506,Sparkling Springs Cabin
5,Kolaras,IN,76.23,overcast clouds,25.2333,77.6000,Shiv Shakti Garden (Gayatri Colony)
10,Butaritari,KI,83.08,light rain,3.0707,172.7902,Isles Sunset Lodge
11,Yantai,CN,82.80,overcast clouds,37.5333,121.4000,Yantai Seaside International Youth Hostel
12,Georgetown,MY,85.89,few clouds,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...
673,Eydhafushi,MV,81.57,overcast clouds,5.1033,73.0708,Soneva Fushi
677,Kudahuvadhoo,MV,83.08,broken clouds,2.6708,72.8944,Niyama Private Islands Maldives
678,Gashua,NG,81.00,overcast clouds,12.8710,11.0482,Forte Oil - Old Lorry Park
685,Sirjan,IR,76.87,clear sky,29.4520,55.6814,MAPNA Building
686,Fangshan,CN,82.26,overcast clouds,39.6983,115.9925,Super 8 Beijing Fangshan Yanhua Subway Station

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))